@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  
}


.nav{
  width: 100%;
  height: 88px;
  background: #1A0B2E;
 
}

.nav-container{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 0 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
}
    
:root {
  --linear: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
}

.gradient-text {
  background: var(--linear);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.nav-menu{
    list-style: none;
    display: flex;
    gap: 48px;
}

.nav-menu a {
  color: #ffffff;
  text-decoration: none;
}

.nav-menu a:hover{
    opacity: 1;
}

.btn-primary{
    padding: 12px 26px;
    border-radius: 32px;
    background: var(--linear);
    font-weight: 600;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.hero{
  background: url('../assets/hero-bg.png');
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.mic{
    background: url('../assets/hero-circle.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.badge{
  position: absolute;
  top: 30px;         
  right: 30px;        
  background: #1CFF9A;
  color: #001b12;
  font-size: 12px;
  font-weight: 700;
  padding: 6px 14px;
  border-radius: 999px;
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    padding-top: 80px;
}

.hero-content h1{
    font-size: 4rem;
    font-weight: bold;
}

.hero-content p{
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.7)
}

.btn-secondary{
    padding: 12px 26px;
    border: 2px solid green;
    border-radius: 32px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

.hero-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn-icon{
    padding-right: 8px;
}

/* About section */

.about-container{
    background: #1A0B2E;
}

.podcast{
    color: #ffffff;
    text-align: center;
}

.podcast h2{
    font-size: 48px;
    font-weight: bold;
}

.podcast p{
    max-width: 870px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.acheivements{
    max-width: 870px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    border-top: 1px solid grey;
    display: flex;
    gap: 60px;
    justify-content: center;
    text-align: center;
    padding-bottom: 80px;
}

.acheivements h2{
    color: #00FF88;
    font-weight: bolder;
    font-size: 48px;
}

.acheivements p{
   color:  rgba(255, 255, 255, 0.7);
   
}

/* techwave section */

.techwave-container{
    background: #230E3D;
    display: grid;
}

.techwave-container div{
    background: #351165;
}



